	<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="LayoutPadrao">
	<head>
	<title>Casas de Show</title>
	</head>
	
	<section layout:fragment="conteudo">
		<h4>Cadastrar Casa de Show</h4>
		<form method="POST" action="/Casas" th:object="${casa}">
			<div class="alert alert-success"
				th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>
			<div class="row">
				<div class="text-center">
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
				<div class="col">
					<input type="text"  id="Endereco" class="form-control"
						name="Endereco" placeholder="Endereço">
				</div>
				<div class="col">
					<input type="text" id="NomeDaCasa" class="form-control"
						name="NomeDaCasa" placeholder="Nome da Casa">
				</div>
			</div>
	
	
		</form>
	</section>
	
	</html>